.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  display: flex;
  margin-top: 64px;
}

.router-container {
  flex: 1;
  margin-left: 240px;
  padding: 24px;
  background-color: #e3f2fd;
  min-height: calc(100vh - 64px);
}
